doctype html
html
  head
    block docheader
    link(rel='stylesheet', href='/css/default.css')
    title WIT ROV
  body
    header
      #head_container
        pre HEADER CONTENT HERE

    content
      block content
      #main_container
        #top_container.container
          #video.window
            block video
            p1 video
          #navigation.window
            block navigation
            p1 navigation
        #bot_container.container
          #diagnostics.window
            block diagnostics
            p1 diagnostics
          #input.window
            block input
            p1 misc. input
