doctype html
html
  head
    block docheader
    link(rel='stylesheet', href='/css/default.css')
    title WIT ROV
  body
    header
      block header
      h1.textStyle1 Welcome to the 2016 WIT ROV

    content
      block content
