doctype html
html
  head
    block docheader
    link(rel='stylesheet', href='/css/default.css')
    title WIT ROV
  body
    header
      #head_container
        pre HEADER CONTENT HERE

    content
      block content
      #main_container
        #top_container.container
          #video.window
            block video
            p1 video
          #navigation.window
            block navigation
            #nav_widget
              img#rov_img.nav_vis(src="images/rov_base.png")
              img#cmp_img.nav_vis(src="images/compass.png")
              img#req_img.nav_vis(src="images/requested.png")
            br
            #angle_input
              input(id="act_angle", type="number")
              button.angle_button(id="act_button") actual
              br
              input(id="req_angle", type = "number")
              button.angle_button(id="req_button") requested
        #bot_container.container
          #diagnostics.window
            block diagnostics
            p1 diagnostics
          #input.window
            block input
            p1 misc. input
