extends default

block docheader
  script(src = "/app/localhost.js")

block diagnostics
  p1.textStyle2 Welcome! You're logged in from localhost!


block input
  p1.inputStyle Input valid JSON: 
  input.textBoxStyle(type="text", placeholder='{"Input":"JSON"}', id="json_input")
  button.buttonStyle(id="json_button") Submit
  br
  p1.inputStyle Server response: 
  input.textBoxStyle(type="text", id="json_output")
