color = #555555
background = #CCCCCC
width = 4px
thick = solid width color
thin = solid width/2 color

.textStyle1
  font-family Helvetica
  font-weight bold
  color #FF0000

.textStyle2
  font-family Arial
  color #DD0000

.inputStyle
  font-family Helvetica
  color Green

.textBoxStyle
  font-family Courier

.buttonStyle
  font-family Helvetica
  background-color Green
  color #FFFFFF
  border-radius 10%

#head_container
  border-top thick
  border-left thick
  border-right thick
  position absolute
  top 0px
  left 0px
  right 0px
  height 50px - width
  background-color #CC0000
  color #EEEEEE
  margin auto
  font-family Helvetica
  font-weight bold
  font-size 18
  text-align center

#main_container
  position absolute
  top 50px
  bottom 0px
  left 0px
  right 0px
  display flex
  flex-direction column
  align-items stretch
  align-content stretch

.container
  display flex
  flex-direction row
  align-items stretch
  align-content stretch
  background-color background

#top_container
  order 1
  flex 3

#bot_container
  order 2
  flex 1

#video
  border-top thick
  border-bottom thin
  border-left thick 
  border-right thin
  order 1
  flex 2

#navigation
  border-top thick 
  border-bottom thin 
  border-left thin 
  border-right thick 
  order 2
  flex 1

#diagnostics
  border-top thin 
  border-bottom thick 
  border-left thick 
  border-right thin 
  order 1
  flex 1

#input
  border-top thin
  border-bottom thick
  border-left thin
  border-right thick 
  order 2
  flex 1

#angle_input
  position absolute
  top 500px

#nav_widget
  position relative

.nav_vis
  position absolute
  width 100%

#rov-img
  z-index 1

#cmp-img
  z-index 2

#req_img
  z-index 3
