.textStyle1
  font-family Helvetica
  font-weight bold
  color #FF0000

.textStyle2
  font-family Arial
  color #DD0000

.inputStyle
  font-family Helvetica
  color Green

.textBoxStyle
  font-family Courier

.buttonStyle
  font-family Helvetica
  background-color Green
  color #FFFFFF
  border-radius 10%
