extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is an example site - see <a href="https://www.github.com/npiscitello/2016_WIT_ROV">the github repo</a> for more details.
  p This file is surfaceserver/views/index.jade and is served by surfaceserver/routes/index.js
